body {
    background-color: white;
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}

.username-input {
    margin-top: 1em;
    display: flex;
}

input {
    flex-basis: 3;
    flex-grow: 1;
}

button {
    flex-basis: 1;
    flex-grow: 1;
}

#canvas {
    margin: auto;
    display: grid;
    background-color: lightgray;
}

.player {
    display: flex;
}

.player img {
    mix-blend-mode: multiply;
}

.theme-snake .player {
    -webkit-mask: url("../sprites/snake/player.png");
    mask: url("../sprites/snake/player.png");
}
