body {
    background-color: white;
    width: 400px; /* Ultra hack */
    margin: auto;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

.username-input {
    display: flex;
}

input {
    flex-basis: 3;
    flex-grow: 1;
}

button {
    flex-basis: 1;
    flex-grow: 1;
}

.game {
    margin-top: 2em;
    display: flex;
}

#canvas {
    display: grid;
    background-color: lightgray;
}

.player {
    mask-size: cover;
    display: flex;
}

.player img {
    mix-blend-mode: multiply;
}

.legend {
    flex-grow: 1;
    margin-left: 1em;
    min-width: 200px;
}

#legend-data {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
}

#legend-data > div {
    display: flex;
    column-gap: 1em;
}

#legend-data .player {
    width: 1em;
    height: 1em;
}
